{% extends 'base.html' %}
{% block title %}Projects{% endblock %}

{% block content %}
<h2>My Projects</h2>

<div class="row">
    {% for p in projects %}
    <div class="col-md-4 mt-3">
        <div class="card p-3">
            <h5>{{ p.title }}</h5>
            <p>{{ p.description }}</p>
            {% if p.link %}
            <a href="{{ p.link }}" class="btn btn-primary" target="_blank">View Project</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
